<ion-header>
    <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
        Log in
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="container-width"> 
    <ion-card class="login-ion-card-content">
        <ion-card-content class="login">
            <ion-card-header class="title">
                <ion-card-title>Welcome!</ion-card-title>
                <ion-card-subtitle>Login as an Existing User</ion-card-subtitle>
            </ion-card-header>
                    <ion-input type="email" [(ngModel)]="userService.loginInfo.email" clearInput placeholder="Email">
                    </ion-input>
                    
                    <!-- <input type="text" [(ngModel)]="this.userService.loginInfo.email" name="email" clrInput placeholder="Email" /> -->
                    <ion-input type="password" [(ngModel)]="userService.loginInfo.password" name="password" clearInput placeholder="Password"></ion-input>

                    <!-- <input type="password" [(ngModel)]="this.userService.loginInfo.password" name="password" clrPassword placeholder="Password" /> -->

                <br>
                <ion-item>
                <ion-checkbox name="rememberMe"></ion-checkbox>
                <ion-label>Remember me</ion-label>
                </ion-item>
                
                <!-- <label>Remember me</label> -->
                <!-- <input type="checkbox" name="rememberMe" clrCheckbox/> -->

                <br>

                <ion-button type="submit" (click)="login(userService.loginInfo)" class="btn btn-primary" [routerLink]="['/todo']">LOGIN</ion-button>
                <p>
                    <a href="/register" class="signup">Sign up for an account</a>
                </p>
        </ion-card-content>
    </ion-card>
</ion-content>