<ion-menu side="start" contentId="my-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
      <!-- <ion-item [routerLink]="['/home']">Home</ion-item>
      <ion-item [routerLink]="['/login']">Login</ion-item>
      <ion-item [routerLink]="['/register']">Register</ion-item>
    </ion-list> -->
  </ion-content>
</ion-menu>