<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding container-width">
  <h1>To Do List</h1>
  <ion-input placeholder="What needs to be done?" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"></ion-input>

<!-- display todos using ion list -->
  <ion-list class="todo-list">
    <ion-item *ngFor="let todo of this._todoServe.todos" [class.completed]="todo.complete">
      <ion-checkbox class="toggle" (click)="toggleTodoComplete(todo)" [checked]="todo.complete" slot="start"></ion-checkbox>
      <ion-label>{{ todo.title }}</ion-label>
      <ion-button color="danger" click="removeTodo(todo)" slot="end">delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>