<ion-card class="login-ion-card-content">
    <ion-card-content class="login">
        <ion-card-header class="title">
            <h2 class="welcome">Welcome</h2>
            <h5 class="hint">Please register for an account below</h5>
        </ion-card-header>
        <ion-card class="login-group">
            <ion-card-content>
                <input type="text" [(ngModel)]="this.userService.userInfo.firstName" name="firstName" clrInput placeholder="First Name" />
            </ion-card-content>
            <ion-card-content>
                <input type="text" [(ngModel)]="this.userService.userInfo.lastName" name="lastName" clrInput placeholder="Last Name" />
            </ion-card-content>
            <ion-card-content>
                <input type="text" [(ngModel)]="this.userService.userInfo.email" name="email" clrInput placeholder="Email" />
            </ion-card-content>
            <ion-card-content>
                <input [(ngModel)]="this.userService.userInfo.password" type="password" name="password" clrPassword placeholder="Password" />
            </ion-card-content>

            <ion-button type="submit" (click)="register(this.userService.userInfo)" class="btn btn-primary" [routerLink]="['/todo']">Register</ion-button>

            <a href="/login" class="signup">Already have an account?</a>
            <p>{{this.userService.userInfo.firstName}}</p>
            <p>{{this.userService.userInfo.lastName}}</p>
            <p>{{this.userService.userInfo.email}}</p>
            <p>{{this.userService.userInfo.password}}</p>


        </ion-card>
    </ion-card-content>
</ion-card>